* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1d24;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.ball {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #00e6a7;
  border-radius: 50%;
  margin: 0 auto 60px;
  animation: bounce 1s infinite ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
}

.loader {
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  margin: 0 auto 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #00e6a7;
  padding: 14px 32px;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
  background-color: #00b386;
}